.feedback-list {
    max-height: 400px;
    overflow-y: auto;
}

.feedback-list::-webkit-scrollbar {
    width: 6px;
}

.feedback-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.feedback-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.feedback-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}